@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
*{
    font-family: "Happy Monkey";
}

.container{
    width: 800px;
    align-content: center;
    padding-inline: 50px;
}
header{
    text-align: center;
}
h1{
    color: #DB0038;
}
h2{
    color: #3998A3;
}
h3{
    color: #474747;
}
.hero{
    background-color: #F4F4F4;
    text-align: center;
    text-shadow: 10px 10px 10px black;
    padding-inline: 50px;
}
img{
    width: 100%;
}
li{
    padding-block: 5px;
}
.stars{
    color: #F4B400;
    font-size: 25px;
}
footer{
    text-align: center;
}